USE [posdb]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SALEDETAILS]') AND type in (N'U'))
ALTER TABLE [dbo].[SALEDETAILS] DROP CONSTRAINT IF EXISTS [FK_SALEDETAILS_SALES]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SALEDETAILS]') AND type in (N'U'))
ALTER TABLE [dbo].[SALEDETAILS] DROP CONSTRAINT IF EXISTS [FK_SALEDETAILS_PRODUCTS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTS]') AND type in (N'U'))
ALTER TABLE [dbo].[PRODUCTS] DROP CONSTRAINT IF EXISTS [FK_PRODUCTS_CSTATUS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTENTRYDETAILS]') AND type in (N'U'))
ALTER TABLE [dbo].[PRODUCTENTRYDETAILS] DROP CONSTRAINT IF EXISTS [FK_PRODUCTENTRYDETAILS_PRODUCTS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTENTRYDETAILS]') AND type in (N'U'))
ALTER TABLE [dbo].[PRODUCTENTRYDETAILS] DROP CONSTRAINT IF EXISTS [FK_PRODUCTENTRYDETAILS_PRODUCTENTRIES]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOSTITEMDETAILS]') AND type in (N'U'))
ALTER TABLE [dbo].[LOSTITEMDETAILS] DROP CONSTRAINT IF EXISTS [FK_LOSTITEMDETAILS_PRODUCTS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOSTITEMDETAILS]') AND type in (N'U'))
ALTER TABLE [dbo].[LOSTITEMDETAILS] DROP CONSTRAINT IF EXISTS [FK_LOSTITEMDETAILS_LOSTITEMS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SALES]') AND type in (N'U'))
ALTER TABLE [dbo].[SALES] DROP CONSTRAINT IF EXISTS [DF_SALES_modification_date]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SALES]') AND type in (N'U'))
ALTER TABLE [dbo].[SALES] DROP CONSTRAINT IF EXISTS [DF_SALES_create_date]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SALES]') AND type in (N'U'))
ALTER TABLE [dbo].[SALES] DROP CONSTRAINT IF EXISTS [DF_SALES_maker]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CSTATUS]') AND type in (N'U'))
ALTER TABLE [dbo].[CSTATUS] DROP CONSTRAINT IF EXISTS [DF_CSTATUS_modification_date]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CSTATUS]') AND type in (N'U'))
ALTER TABLE [dbo].[CSTATUS] DROP CONSTRAINT IF EXISTS [DF_CSTATUS_create_date]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CSTATUS]') AND type in (N'U'))
ALTER TABLE [dbo].[CSTATUS] DROP CONSTRAINT IF EXISTS [DF_CSTATUS_maker]
GO
/****** Object:  Table [dbo].[SALES]    Script Date: 1/4/2020 12:29:35 PM ******/
DROP TABLE IF EXISTS [dbo].[SALES]
GO
/****** Object:  Table [dbo].[SALEDETAILS]    Script Date: 1/4/2020 12:29:35 PM ******/
DROP TABLE IF EXISTS [dbo].[SALEDETAILS]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 1/4/2020 12:29:35 PM ******/
DROP TABLE IF EXISTS [dbo].[PRODUCTS]
GO
/****** Object:  Table [dbo].[PRODUCTENTRYDETAILS]    Script Date: 1/4/2020 12:29:35 PM ******/
DROP TABLE IF EXISTS [dbo].[PRODUCTENTRYDETAILS]
GO
/****** Object:  Table [dbo].[PRODUCTENTRIES]    Script Date: 1/4/2020 12:29:35 PM ******/
DROP TABLE IF EXISTS [dbo].[PRODUCTENTRIES]
GO
/****** Object:  Table [dbo].[LOSTITEMS]    Script Date: 1/4/2020 12:29:35 PM ******/
DROP TABLE IF EXISTS [dbo].[LOSTITEMS]
GO
/****** Object:  Table [dbo].[LOSTITEMDETAILS]    Script Date: 1/4/2020 12:29:35 PM ******/
DROP TABLE IF EXISTS [dbo].[LOSTITEMDETAILS]
GO
/****** Object:  Table [dbo].[CSTATUS]    Script Date: 1/4/2020 12:29:35 PM ******/
DROP TABLE IF EXISTS [dbo].[CSTATUS]
GO
/****** Object:  Table [dbo].[CSTATUS]    Script Date: 1/4/2020 12:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CSTATUS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](280) NOT NULL,
	[maker] [varchar](280) NOT NULL,
	[create_date] [bigint] NOT NULL,
	[modification_date] [bigint] NOT NULL,
 CONSTRAINT [PK_CSTATUS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOSTITEMDETAILS]    Script Date: 1/4/2020 12:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOSTITEMDETAILS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idlostitems] [int] NOT NULL,
	[unitary_cost] [decimal](10, 2) NOT NULL,
	[idproducts] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_LOSTITEMDETAILS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOSTITEMS]    Script Date: 1/4/2020 12:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOSTITEMS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[create_date] [int] NOT NULL,
	[idcstatus] [bigint] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_LOSTITEMS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTENTRIES]    Script Date: 1/4/2020 12:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTENTRIES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[create_date] [bigint] NOT NULL,
	[idcstatus] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTENTRIES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTENTRYDETAILS]    Script Date: 1/4/2020 12:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTENTRYDETAILS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idproductentries] [int] NOT NULL,
	[unitary_cost] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[idproducts] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTENTRYDETAILS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 1/4/2020 12:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](280) NOT NULL,
	[barcode] [varchar](280) NOT NULL,
	[idcstatus] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[unitary_cost] [decimal](10, 2) NOT NULL,
	[existence] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALEDETAILS]    Script Date: 1/4/2020 12:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALEDETAILS](
	[id] [int] NOT NULL,
	[idsales] [int] NOT NULL,
	[unitary_cost] [decimal](10, 2) NOT NULL,
	[unitary_price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[idproducts] [int] NOT NULL,
 CONSTRAINT [PK_SALEDETAILS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES]    Script Date: 1/4/2020 12:29:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[idcstatus] [int] NOT NULL,
	[maker] [varchar](280) NOT NULL,
	[create_date] [bigint] NOT NULL,
	[modification_date] [bigint] NOT NULL,
 CONSTRAINT [PK_SALES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CSTATUS] ADD  CONSTRAINT [DF_CSTATUS_maker]  DEFAULT ('default_system') FOR [maker]
GO
ALTER TABLE [dbo].[CSTATUS] ADD  CONSTRAINT [DF_CSTATUS_create_date]  DEFAULT ((0)) FOR [create_date]
GO
ALTER TABLE [dbo].[CSTATUS] ADD  CONSTRAINT [DF_CSTATUS_modification_date]  DEFAULT ((0)) FOR [modification_date]
GO
ALTER TABLE [dbo].[SALES] ADD  CONSTRAINT [DF_SALES_maker]  DEFAULT ('default_system') FOR [maker]
GO
ALTER TABLE [dbo].[SALES] ADD  CONSTRAINT [DF_SALES_create_date]  DEFAULT ((0)) FOR [create_date]
GO
ALTER TABLE [dbo].[SALES] ADD  CONSTRAINT [DF_SALES_modification_date]  DEFAULT ((0)) FOR [modification_date]
GO
ALTER TABLE [dbo].[LOSTITEMDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_LOSTITEMDETAILS_LOSTITEMS] FOREIGN KEY([idlostitems])
REFERENCES [dbo].[LOSTITEMS] ([id])
GO
ALTER TABLE [dbo].[LOSTITEMDETAILS] CHECK CONSTRAINT [FK_LOSTITEMDETAILS_LOSTITEMS]
GO
ALTER TABLE [dbo].[LOSTITEMDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_LOSTITEMDETAILS_PRODUCTS] FOREIGN KEY([idproducts])
REFERENCES [dbo].[PRODUCTS] ([id])
GO
ALTER TABLE [dbo].[LOSTITEMDETAILS] CHECK CONSTRAINT [FK_LOSTITEMDETAILS_PRODUCTS]
GO
ALTER TABLE [dbo].[PRODUCTENTRYDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTENTRYDETAILS_PRODUCTENTRIES] FOREIGN KEY([idproductentries])
REFERENCES [dbo].[PRODUCTENTRIES] ([id])
GO
ALTER TABLE [dbo].[PRODUCTENTRYDETAILS] CHECK CONSTRAINT [FK_PRODUCTENTRYDETAILS_PRODUCTENTRIES]
GO
ALTER TABLE [dbo].[PRODUCTENTRYDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTENTRYDETAILS_PRODUCTS] FOREIGN KEY([idproducts])
REFERENCES [dbo].[PRODUCTS] ([id])
GO
ALTER TABLE [dbo].[PRODUCTENTRYDETAILS] CHECK CONSTRAINT [FK_PRODUCTENTRYDETAILS_PRODUCTS]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_CSTATUS] FOREIGN KEY([idcstatus])
REFERENCES [dbo].[CSTATUS] ([id])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_CSTATUS]
GO
ALTER TABLE [dbo].[SALEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_SALEDETAILS_PRODUCTS] FOREIGN KEY([idproducts])
REFERENCES [dbo].[PRODUCTS] ([id])
GO
ALTER TABLE [dbo].[SALEDETAILS] CHECK CONSTRAINT [FK_SALEDETAILS_PRODUCTS]
GO
ALTER TABLE [dbo].[SALEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_SALEDETAILS_SALES] FOREIGN KEY([idsales])
REFERENCES [dbo].[SALES] ([id])
GO
ALTER TABLE [dbo].[SALEDETAILS] CHECK CONSTRAINT [FK_SALEDETAILS_SALES]
GO
