<p>products works!</p>
<button mat-raised-button color='accent'>Click Me</button>
<mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let item of products"
        [colspan]="1"
        [rowspan]="1">
      <!-- -->
      <!-- class="tile-image" -->
      <img   src="./../../assets/imgs/sol-tubi-papa.jpg">
      <mat-grid-tile-header>
        <h3>{{item.name}} </h3>
      </mat-grid-tile-header>
      <mat-grid-tile-footer>
        <h2>{{item.unitary_price}}</h2>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>